<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <title><%= username %></title>
</head>

<body style="background-image: url(https://www.zimaltec.es/img/personalizacion/zimaltec/noticias/curso-power-bi.jpg);">
  <div class="container" style="background-color: white; border-radius: 8px;">
    <div class="mbs-logo-container" style="margin-top: 30px;">
      <div class="mbs-logo-content" style="margin-top: 20px;">
        <img style="
      width: 125px;
      height: 61px;
  " src="https://mistralbs.com/wp-content/uploads/2019/09/mistral.png" alt="">
      </div>
    </div>
    <div class="row">

      <div class="card" style="width: 100%;text-align: center;">
        <div class="" style="width: 100%;height: 500px;background-color: #eeeeee;"></div>
        <h3 style="margin-top: 10px;"><b style="color: #f3be00"><i class="far fa-user"></i> <%= username %></b></h3>
        <p class="title"><%= email %></p>
        <p><a href="/logout" class="btn btn-xs btn-danger"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></p>
        <p style="color: orange">© 2020 Mistral Business Solutions S.L</p>
      </div>
    </div>
  </div>
</body>

</html>