<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="/assets/css/index.css" />
  <title>MBS Login</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <div class="mbs-logo-container">
                  <div class="mbs-logo-content">
                    <img class="mbs-logo" src="https://mistralbs.com/wp-content/uploads/2019/09/mistral.png" alt="">
                  </div>
                </div>
                <h3 class="login-heading mb-4">¡Hola! Vamos a probar la API de Power BI 😄</h3>
                <form id="form" action="/login" method="post">
                  <div class="form-label-group">
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
                      required autofocus>
                    <label for="inputEmail">Email</label>
                  </div>
                  <div class="form-label-group">
                    <input type="password" name="password" id="inputPassword" class="form-control"
                      placeholder="Password" required>
                    <label for="inputPassword">Contraseña</label>
                  </div>
                  <button onclick="showSpinner()" id="submitButton" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Entrar</button>
                  <label class="error-label" for="customCheck1"><%= error ? error : ''%></label>
                </form>

                <div class="users-info">
                  <p>
                    <% users.forEach( (user, index) => { %>
                      <span><b>Usuario <%= index + 1 %>: </b> <%=user.email%> <b>Pwd</b> <%=user.password%></span><br />
                   <% }) %>
                     </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  var submitButton = document.getElementById('submitButton');
  var form = document.getElementById('form');

  function showSpinner() {
    submitButton.innerHTML = '<div class="spinner-border"></div>';
    form.submit();
  }
  </script>
</body>

</html>